/* 
  Dark-theme.css 
*/


body {
  color: #eee;
  background: #121212;
}
  
h1, h2, h3 {
  color: #fff;
}

h2.heading-title {
  color: #fff;

}

.founder .content h3 {
  color: #fff;
}

.packages h2 {
  color: #fff;
  background: #111;
}

.home-packages {
  color: #eee;
  background: #121212;
}

.home-packages .box-container {
  color: #eee;
  background: #111;
}

.packages .box-container {
  color: #eee;
  background: #111;
}

html::-webkit-scrollbar-track {
  background-color: #050505; 
}

.header {
  z-index: 1000;
  background-color: #101010;  
}

.home-packages .box-container .box {
  background: #141414;
}

.packages .box-container .box {
  background: #141414;
}

.home-packages .box-container .box .content {
  color: #fff;
  background: #151515;
}

.packages .box-container .box .content {
  color: #fff;
  background: #151515;
}

.home-packages .box-container .box .content h3 {
  color: #fff;
  background: #171717;
}

.packages .box-container .box .content h3 {
  color: #fff;
  background: #171717;
}

.about .content .icons-container .icons {
  color: #fff;
  background: #171717;
}

.founder .content {
  color: #fff;
  background: #171717;
}

.heading-title {
  color: #fff;
} 

.home-offer .content h3 {
  color: #fff;
} 

.home-packages .box-container .box .content h4 {
  color: #fff;
}

.packages .box-container .box .content h4 {
  color: #fff;
}

div.form-container {
  background: #171717; 
}

.form-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:20px;
  padding-bottom: 60px;
  background: #171717;
}


.form-container form#commentForm {
  background: #171717; 
}

.booking .book-form{
  background: #171717; 
}

.flex p {
  color: #fff;
}

.header .navbar{
    background-color: #111;

}

.header .navbar a {
  color: #fff;
  background-color: #111;
}

.footer {
  background-color: #181818;
}



/*
company
*/

.company .content h2 {
  font-weight: bold;
  color: #fff;
  text-transform: none;
} 

h2.dark {
  color: #fff;
}

td {
  color: #fff;
}



/* 
  Scubadiving
*/

.scubadiving .content article {
  color: #fff;
}

.scubadiving .content h4 {
  color: #fff;
}

.scubadiving .content dt {
  color: #fff;
}

.scubadiving .content dd {
  color: #fff;
}



/* 
  Skydiving
*/

.skydiving .content article {
  color: #fff;
}

.skydiving .content h4 {
  color: #fff;
}

.skydiving .content dt {
  color: #fff;
}

.skydiving .content dd {
  color: #fff;
}



/* 
  Snowboarding
*/

.snowboarding .content article {
  color: #fff;
}

.snowboarding .content h4 {
  color: #fff;
}

.snowboarding .content dt{
  color: #fff;
}

.snowboarding .content dd{
  color: #fff;
}



/* 
  Surfing
*/

.surfing .content article {
  color: #fff;
}

.surfing .content h4 {
  color: #fff;
}

.surfing .content dt {
  color: #fff;
}

.surfing .content dd {
  color: #fff;
}



/* 
  Tour_guide
*/

.tour_guide .content article {
  color: #fff;
}

.tour_guide .content h4 {
  color: #fff;
}

.tour_guide .content dt{
  color: #fff;
}

.tour_guide .content dd {
  color: #fff;
}




/* 
  Terms
*/

.terms .content h3 {
  color: rgb(150, 7, 150);
}

.content p.additional {
  color: #fff;
  font-weight: normal;
}

/* 
  Privacy
*/

.privacy .content dl {
  color: #fff;
}

.privacy .content dt {
  color: green;
}

.privacy .content dd {
  color: #fff;
}

/* 
  Docs
*/

.docs .content dl {
  color: #fff;
}

.docs .content dt {
  color: #fff;
}

.docs .content dd {
  color: #fff;
}

/* 
  Career
*/

.career .content h3 {
  color: #fff;
}

.career .content p {
  color: #fff;
}
.career .content dl {
  color: #fff;
}

.career .content dt {
  color: green;
}

.career .content dd {
  color: #fff;
}